body {
  margin: 0;
  font-family: 'Blinker', -apple-system, BlinkMacSystemFont, 'Anton', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffe9;
  backdrop-filter: blur(3px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}