.contact {
    padding: .5rem 5rem;
    height: 100%;
}

.contact--heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .5rem;
    white-space: nowrap;
}

.contact--links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    color: #green;
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid red;
}

.contact--links:hover {
    color: #bbe0ff;
}

.contact--link {
    color: #55b2f9;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.contact--link:hover {
    color: #bbe0ff;
    letter-spacing: 2px;
}

.app--details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details--heading {
    font-size: 2rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
    color: #bbe0ff;
}

.desc--heading {
    text-align: center;
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
    color: #bbe0ff;
}

@media screen and (max-width: 800px) {
    .contact {
        padding: 3rem;
    }
}

@media screen and (max-width: 500px) {
    .contact {
        padding: 1rem;
    }

    .contact--heading {
        font-size: 1.5rem;
    }

    .contact--links {
        gap: 1rem;
        font-size: 1.2rem;
    }

    .contact--link {
        font-size: 1.2rem;
    }
}