.contact {
    padding: .5rem 5rem;
    height: 100%;
}

.contact--heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .5rem;
    /* white-space: nowrap; */
}

.contact--links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-bottom: 1px solid #ccc;
}

.contact--link {
    color: #19f349;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.contact--link a {
    color: #19f349;
    text-decoration: none;
}

.contact--link a:hover {
    color: #bbe0ff;
}

.contact--link:hover {
    color: #bbe0ff;
    letter-spacing: 2px;
}

.app--details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc--heading {
    text-align: center;
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
    color: #bbe0ff;
}

@media screen and (max-width: 800px) {
    .contact {
        /* padding: 3rem; */
    }
}

@media screen and (max-width: 500px) {
    .contact {
        padding: 1rem;
    }

    .contact--heading {
        font-size: 1.5rem;
    }

    .contact--links {
        gap: 1rem;
        font-size: 1.2rem;
    }

    .contact--link {
        font-size: 1.2rem;
    }
}