.contact {
    padding: 10rem;
}

.contact--heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.contact--links {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #55b2f9;
    font-size: 1.5rem;
    font-weight: 700;
}

.contact--links:hover {
    color: #bbe0ff;
}

.contact--link {
    color: #55b2f9;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.contact--link:hover {
    color: #bbe0ff;
    letter-spacing: 2px;
}