.contact {
    padding: .5rem 5rem;
}

.contact--heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.contact--links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-bottom: 1px solid #ccc;
}

.contact--link {
    color: #FFEA11;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.contact--link a {
    color: #FFEA11;
    text-decoration: none;
}

.contact--link a:hover {
    color: red;
}

.contact--link:hover {
    color: red;
    letter-spacing: 2px;
}

.contact--link a:visited {
    color: red;
}

.desc {
    margin-bottom: 1rem;
}

.app--details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc--heading {
    text-align: center;
}

.attribution {
    font-size: 0.8rem;
    text-align: center;
    color: #bbe0ff;
}

@media screen and (max-width: 700px) {
    .contact--links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding-bottom: 1rem;
    }

    .contact--heading {
        margin-bottom: 1rem;
    }

    .contact--link {
        font-size: 1.2rem;
        margin: 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .contact--heading {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 475px) {
    .contact--heading {
        font-size: 1.2rem;
    }
}