.contact {
    padding: 1rem 5rem;
    height: 100vh;
}

.contact--heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    white-space: nowrap;
}

.contact--links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    color: #55b2f9;
    font-size: 1.5rem;
    font-weight: 700;
}

.contact--links:hover {
    color: #bbe0ff;
}

.contact--link {
    color: #55b2f9;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.contact--link:hover {
    color: #bbe0ff;
    letter-spacing: 2px;
}

.app--details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */
    /* margin-top: 2rem; */
}
@media screen and (max-width: 800px) {
    .contact {
        padding: 5rem;
    }
}

@media screen and (max-width: 500px) {
    .contact {
        padding: 2rem;
    }

    .contact--heading {
        font-size: 1.5rem;
    }

    .contact--links {
        gap: 1rem;
        font-size: 1.2rem;
    }

    .contact--link {
        font-size: 1.2rem;
    }
}