.error {
  color: red;
  font-size: 1.5rem;
  /* text-align: center; */
  /* margin-top: 2rem; */
}

.error--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.
.error--link {
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background-color: #0046dc;
  border-radius: .5rem;
  text-decoration: none;
  cursor: pointer;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.error--link:hover {
  background-color: #7dd5c6;
}

.error--link:active {
  background-color: #0046dc;
}