.home {
    margin: 2.5rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

.home--heading {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.home--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home--img {

}

.home--paragraph {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}