.home {
  margin: 2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  font-family: 'Blinker';
}

.home--heading {
  font-family: 'Anton';
  font-size: 2.5rem;
  letter-spacing: .3rem;
  text-align: center;
  margin-bottom: 3rem;
  text-transform: capitalize;
  animation: slide 6s ease-in-out 3s infinite normal none;
  -webkit-animation: slide 6s ease-in-out 3s infinite normal none;
}

.home--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home--paragraph {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

.footer {
  padding: 1rem;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  color: #fff2f2;
}

/* HEADING ANIMATION */
@keyframes slide {
  0% {}

  2% {
    transform: skew(-6deg, -6deg) rotate(6deg);
    color: #7DD5C6;
  }

  28% {
    transform: translate(5rem 0) skew(-6deg, -6deg) rotate(6deg);
    color: #0046DC;
  }

  29% {
    transform: rotate(-6deg) skew(6deg, 6deg) translate(3rem, 0);
    color: #C482D2;
  }

  70% {
    transform: translate(-4rem, 0) rotate(-6deg) skew(6deg, 6deg);
    color: #C4F362;
  }

  71% {
    transform: rotate(6deg) skew(-6deg, -6deg) translate(-2rem, 0);
    color: #19F3A9;
  }

  96% {
    transform: skew(-6deg, -6deg) rotate(6deg) translate(0, 0);
    color: #F3C362;
  }

  100% {}
}