.layout {
  background-color: #fffff2;
  padding: .3rem 3rem;
}

.layout--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout--items {
  /* display: flex;
  gap: 2rem; */
position: relative;
}

.layout--btn {
  position: fixed;
  top: 4rem;
  right: 4rem;
  z-index: 10;
  cursor: pointer;
}

.menuNav {
  /* overflow-y: scroll; */
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  max-width: 30rem;
  height: 100vh;
  background-color: #fffff2;
  z-index: 5;
  overflow: hidden;
}

.menuNav.showMenu {
  width: 100%;
  /* transition: all .3s ease-in-out; */
}

.layout--item {
  display: block;
  padding: 1rem 4rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: 'Anton';
  letter-spacing: .3rem;
  color: #0046dc
}