.layout {
  background-color: #fffff2;
  padding: .3rem 3rem;
}

.layout--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout--items {
  position: relative;
}

.layout--btn {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  background-color: #fffff2;
  border: none;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

.menuNav {
  position: fixed;
  top: 5rem;
  right: 0;
  width: 0;
  max-width: 15rem;
  height: 100%;
  background-color: #fffff2;
  z-index: 5;
  overflow: hidden;
}

.menuNav.showMenu {
  width: 100%;
  transition: all 3s ease-in-out;
  -webkit-transition: all 3s ease-in-out;
  -moz-transition: all 3s ease-in-out;
  -ms-transition: all 3s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.layout--item {
  display: block;
  margin-top: .8rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Blinker';
  letter-spacing: .2rem;
  color: #0046dc
}

.layout--item:hover {
  color: #7dd5c6;
}

.layout--item:active {
  color: #c482d2;
}