.layout {
  background-color: #fffff2;
  padding: 1rem;
}

.layout--items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
  /* margin-left: 10rem; */
}

.layout--item {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}
