.layout {
  background-color: #fffff2;
  padding: .3rem 3rem;
}

.layout--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout--items {
  display: flex;
  gap: 3rem;
  margin-right: 2em;
}

.layout--item {
  text-transform: uppercase;
  font-size: 1.3rem;
  /* font-family: 'Anton'; */
  letter-spacing: 2px;
  color: #0046dc
}