.layout {
  background-color: #fffff2;
  padding: 1rem;
}

.layout--items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin-left: 10rem;
}

.layout--item {
  text-transform: uppercase;
  padding: 1rem;
  font-size: 3rem;
}
