.repos {
  padding: 0 5rem;
  text-align: center;
}

.repos--heading {
  font-size: 1.8rem;
  font-weight: 700;
  color: #8EC0E4;
  margin: 2rem 15rem;
  border-bottom: 1px solid #fffff2;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  width: 40%;
}

.repos--list {
  margin: 1rem 0 3rem 5rem;
  border-bottom: 1px solid #fffff2;
  height: 5rem;
  width: 20rem;
  list-style: square;
}

.repos--list__item {
  font-weight: 400;
  font-size: 1.2rem;
}

.repos--btn {
  text-decoration: none;
  color: #f8f8ff;
  font-size: .8rem;
  font-weight: 600;
  background-color: #45d9fd;
  padding: .5rem;
  border-radius: 10px;
  border: none;
  transition: all .3s ease-in-out;
}

.repos--btn:hover {
  text-decoration: underline;
  background-color: #a5dff9;
  color: #ffffff;
}

.pagination {
  margin: 2rem 0 0 20rem;
}