.repos {
  padding: 0 5rem;
}

.repos--heading {
  font-size: 1.8rem;
  font-weight: 700;
  color: #8EC0E4;
  margin-bottom: 1rem;
  border-bottom: 1px solid #fffff2;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  width: 80%;
}

.repos--items   {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.repos--list {
  margin-left: 2rem;
  padding-left: .5rem;
  border-bottom: 1px solid #fffff2;
  width: fit-content;
  height: 6rem;
}

.repos--list__item {
  font-weight: 400;
  font-size: 1.2rem;
}

.repos--btn {
  text-decoration: none;
  color: #f8f8ff;
  font-size: .8rem;
  font-weight: 600;
  background-color: #45d9fd;
  padding: .5rem;
  margin-left: 2rem;
  border-radius: 10px;
  border: none;
  transition: all .3s ease-in-out;
}

.repos--btn:hover {
  text-decoration: underline;
  background-color: #a5dff9;
  color: #ffffff;
}

.pagination {
  display: flex;
  /* justify-content: center; */
  margin-top: 2rem;
}
