.repos {
  padding: 0 5rem;
  text-align: center;
  font-family: 'Blinker';
}

.repos--heading {
  font-size: 2.2rem;
  font-family: 'Anton';
  color: #8EC0E4;
  margin: 2rem 10rem;
  border-bottom: 1px solid #fffff2;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  width: fit-content;
  white-space: nowrap;
}

.repos--list {
  margin: 2rem 0 3rem 5rem;
  border-bottom: 1px solid #fffff2;
  height: 5.5rem;
  width: 25rem;
  list-style: square;
}

.repos--list__item {
  font-weight: 600;
  font-size: 1.5rem;
}

.repos--btn {
  text-decoration: none;
  color: #f8f8ff;
  font-size: .8rem;
  font-weight: 600;
  background-color: #45d9fd;
  padding: .5rem;
  border-radius: 10px;
  border: none;
  transition: all .3s ease-in-out;
}

.btn {
  margin: 0 0 2rem 2rem;
}

.repos--btn:hover {
  text-decoration: underline;
  background-color: #a5dff9;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .repos {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 600px) {
  .repos--heading {
    font-size: 1.5rem;
    margin: 2rem 0;
  }

  .repos--list {
    margin: 2rem 0 3rem 0;
    height: 5rem;
    width: 20rem;
  }

  .repos--list__item {
    font-size: 1.2rem;
  }

  .repos--btn {
    font-size: .6rem;
  }
}

/* @media screen and (max-width: 520px) {
  .repos--list {
    margin: 2rem 0 3rem 0rem;
  }
} */
