.repos {
}

.repos--heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.repos--items   {
}

.repos--list {

}

.repos--list__item {
}

.repos--list__nav {
  text-decoration: none;
  color: #000;
}

.repos--list__nav:hover {
  text-decoration: underline;
}