.searchRepo {
  margin: 5rem auto;
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.searchRepo--heading {
  margin-bottom: 2rem;
  text-align: center;
  text-transform: capitalize;
}

.searchRepo--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchRepo--form__input {
  width: 100%;
  max-width: fit-content;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  margin-bottom: 1rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.searchRepo--form__input:focus {
  outline: none;
  border: 1px solid #000;
}

.searchRepo--form__btn {
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.searchRepo--form__btn:hover {
  background-color: #fff;
  color: #000;
}

.searchRepo--results {
  margin-top: 2rem;
}

.searchRepo--lists {
  list-style: none;
}

.searchRepo--list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: .5rem;
  padding: .5rem;
  margin-bottom: 1rem;
}

.searchRepo--title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .3rem;
}

.searchRepo--desc {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: .3rem;
}

.searchRepo--link {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: .3rem;
  text-decoration: none;
  color: #0046dc;
}

.pagination--nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination--lists {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-right: 2rem;
}

.pagination--list {
  margin: 0 .5rem;
}

.pagination--list__nums {
  margin: 0 .3rem;
}

.pagination--btn {
  padding: .3rem 1rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.pagination--btn:hover {
  background-color: #fff;
  color: #000;
}

.pagination--num {
  padding: .3rem 1rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  background-color: #fff;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}