.searchRepo {
  margin: 5rem auto;
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.searchRepo--heading {
  margin-bottom: 2rem;
  text-align: center;
  text-transform: capitalize;
}