.searchRepo--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100%;
}

.searchRepo {
  width: 100%;
  max-width: 800px;
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searchRepo--heading {
  margin-bottom: 2rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "Fira Sans";
  color: #19F3A9;
}

.searchRepo--loading {
  margin: 10rem auto;
  text-align: center;
  font-size: 2rem;
  color: #19F3A9;
}

.searchRepo--error {
  text-align: center;
  font-size: 1rem;
  color: #F31919;
  margin-top: .1rem;
}

.searchRepo--form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchRepo--form__input {
  width: 100%;
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.searchRepo--form__input:focus {
  outline: none;
  border: 1px solid #000;
}

.searchRepo--form__btn {
  padding: .3rem 1rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0;
  cursor: pointer;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.searchRepo--form__btn:hover {
  background-color: #fff;
  color: #000;
}

.searchRepo--lists {
  list-style: none;
}

.searchRepo--lists__heading {
  font-size: 1.8rem;
  text-align: center;
}

.searchRepo--lists__heading span {
  color: #FFEA11;
}

.searchRepo--list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: .5rem;
  padding: .5rem;
  margin-bottom: 1rem;
}

.searchRepo--list__title {
  font-size: 1.5rem;
}

.searchRepo--list__desc {
  font-size: 1.1rem;
  margin-top: -1.2rem;
}

.searchRepo--link {
  font-size: 1.2rem;
  text-decoration: none;
  margin-top: -.5rem;
  color: #FFEA11;
}

.searchRepo--link:hover {
  text-decoration: underline;
}

.pagination--nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagination--lists {
  display: flex;
  justify-content: center;
  list-style: none;
}

.pagination--list {
  margin: 0 1rem
}

.pagination--list__nums {
  margin: 0 .5rem;
}

.page--btn {
  padding: .3rem 1rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.page--btn:hover {
  background-color: #fff;
  color: #000;
}

.pagination--num {
  padding: .3rem 1rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

@media screen and (max-width: 900px) {
  .searchRepo {
    width: 100%;
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .searchRepo--container {
    padding: 1rem;
  }

  .searchRepo {
    padding: .5rem 1rem;
  }

  .searchRepo--heading {
    font-size: 1.8rem;
  }

  .searchRepo--form__input {
    margin-bottom: .5rem;
  }

  .searchRepo--lists__heading {
    font-size: 1.5rem;
  }

  .searchRepo--list__title {
    font-size: 1.2rem;
  }

  .searchRepo--list__desc {
    font-size: 1rem;
  }

  .searchRepo--link {
    font-size: 1.1rem;
  }

  .pagination--list {
    margin: 0 .5rem
  }

  .pagination--list__nums {
    margin: 0 .3rem;
  }

  .page--btn {
    padding: .3rem .7rem;
  }

  .pagination--num {
    padding: .3rem .8rem;
  }
}

@media screen and (max-width: 600px) {
  .searchRepo--container {
    padding: .5rem;
  }

  .searchRepo {
    padding: .5rem;
    border: none;
  }

  .searchRepo--heading {
    font-size: 1.5rem;
  }

  .searchRepo--lists__heading {
    font-size: 1.2rem;
  }

  .searchRepo--list__title {
    font-size: 1rem;
  }

  .searchRepo--list__desc {
    font-size: .9rem;
  }

  .searchRepo--link {
    font-size: 1rem;
  }

  .pagination--list {
    margin: 0 .3rem
  }

  .pagination--list__nums {
    margin: 0 .2rem;
  }

  .pagination--num {
    padding: .2rem .5rem;
  }

  .page--btn {
    padding: .2rem .7rem;
  }

}