@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");

.home {
  min-height: 100vh;
  width: 100%;
  font-family: "Blinker";
  font-family: "Fira Sans";
}

.home--loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.home--error {
  color: #f31919;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home--error__span {
  color: #19f3a9;
  margin-left: 0.5rem;
}

.home--content {
  font-size: 1rem;
  text-align: center;
  color: #fffff2;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  width: 100%;
}

.home--container__top {
  background-color: #0046dc;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  animation: pulse 2s ease-in-out infinite;
  -webkit-animation: pulse 2s ease-in-out infinite;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin-top: 1rem;
}

.home--container__topLink {
  color: #fffff2;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: "Tilt Prism", cursive;
  font-weight: 500;
  cursor: pointer;
}

.home--container__topLink:hover {
  text-decoration: underline;
}

.home--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem 0;
}

.home--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.home--info__heading {
  color: #bbe0ff;
  font-size: 1.3rem;
}

.home--info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  padding: 0.5rem 0;
}

.home--img {
  height: 13rem;
  width: fit-content;
}

.home--container__bottom {
  background-color: #0046dc;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  flex-basis: 30%;
}

.home--container__data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 1rem;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.intro__strong {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #f3c362;
  text-transform: uppercase;
}

strong {
  color: #ffea11;
  font-family: "Tilt Prism", cursive;
  letter-spacing: 0.1rem;
}

.home--btn {
  background-color: #0046dc;
  color: #fffff2;
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-family: "Tilt Prism", cursive;
  cursor: pointer;
}

.home--btn:hover {
  background-color: #7dd5c6;
  color: #fffff2;
}

.home--btn:active {
  background-color: #0046dc;
}

@media screen and (max-width: 1200px) {
  .home--heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .home--heading {
    font-size: 1.5rem;
  }

  .home--info {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  .home--heading {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
  }

  .home--info {
    margin-top: -1rem;
  }

  .home--info__heading {
    font-size: 1rem;
  }

  .home--paragraph__text {
    font-size: 0.9rem;
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .home--heading {
    font-size: 1.1rem;
    letter-spacing: 0;
  }

  .home--paragraph__text {
    font-size: 0.8rem;
    width: 80%;
  }

  .home--info {
    flex-direction: column;
    gap: 0.5rem;
  }

  .home--info__heading {
    font-size: 0.9rem;
  }

  .home--img {
    height: 10rem;
  }

  .home--container__data {
    font-size: 0.9rem;
  }

  .intro__strong {
    font-size: 1rem;
  }

  .home--container__topLink {
    font-size: 0.9rem;
  }

  .home--container__bottom {
    width: 50%;
  }

  .home--btn {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 500px) {
  .home--heading {
    font-size: 1rem;
  }

  .home--img {
    width: 50%;
    height: 10rem;
  }

  .home--container__top {
    width: 80%;
    line-height: 1;
  }

  .home--container__topLink {
    font-size: 0.8rem;
  }

  .home--info {
    gap: 1rem;
  }
}

/* HEADING ANIMATION */
@keyframes slide {
  0% {
  }

  2% {
    transform: skew(-6deg, -6deg) rotate(6deg);
    color: #7dd5c6;
  }

  28% {
    transform: translate(5rem 0) skew(-6deg, -6deg) rotate(6deg);
    color: #0046dc;
  }

  29% {
    transform: rotate(-6deg) skew(6deg, 6deg) translate(3rem, 0);
    color: #c482d2;
  }

  70% {
    transform: translate(-4rem, 0) rotate(-6deg) skew(6deg, 6deg);
    color: #c4f362;
  }

  71% {
    transform: rotate(6deg) skew(-6deg, -6deg) translate(-2rem, 0);
    color: #19f3a9;
  }

  96% {
    transform: skew(-6deg, -6deg) rotate(6deg) translate(0, 0);
    color: #f3c362;
  }

  100% {
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}
